appdirs
asgiref
boto3
botocore
CacheControl
certifi
chardet
charset-normalizer
colorama
contextlib2
coreapi
coreschema
distlib
distro
Django
django-cors-headers
django-rest-framework
django-simple-history
djangorestframework
djangorestframework-simplejwt
drf-yasg
et-xmlfile
Faker
html5lib
idna
inflection
ipaddr
itypes
Jinja2
jmespath
lockfile
MarkupSafe
msgpack
mysqlclient
numpy
openapi-codec
openpyxl
packaging
pep517
Pillow
pip
progress
psycopg2-binary
PyJWT
pyparsing
python-dateutil
python-dotenv
pytoml
pytz
PyYAML
reportlab
requests
retrying
ruamel.yaml
ruamel.yaml.clib
s3transfer
setuptools
simplejson
six
sqlparse
toml
tzdata
ua-parser
uritemplate
urllib3
webencodings
wheel